/* This Goblin be Stylin'
================================================================================================= */

.goblin-docs-menu {
  display: inline-block;
  max-width: 300px;
  float: left;
  padding: 100px 10px 10px 10px;
  background-color: #313131f7;
}

.goblin-docs-container {
  display: inline-block;
  padding-top: 100px;
  color: #535252;
}

.goblin-docs-content {
  flex: 1;
  padding-left: 20px;
}

.goblin-doc-link {
  display: block;
  padding: 5px 0;
  color: #02f01a;
  text-decoration: none;
}

.goblin-doc-link:hover {
  color: #079a2e;
}

.goblin-doc-section-title {
  font-weight: bold;
  margin-top: 15px;
}